

.social__media {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  top: 45%;
  right: 0;

  .social__icon {
    width: 1.5rem;
    height: 1.5rem;
    transition: 0.5s;
  }
}
.social__icon:hover {
  transform: scale(1.5);
  transition: 0.5s;
}
